

#halfdome {
  position: absolute;
  width: 500px;
  /* width: 40%; */
  height: 300px;
  /* height: 20%; */
  display: block;
  margin-left: 500px;
  margin-right: 0px;
  margin-top: 280px;
}

.headertitle {
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: darkgreen;
  font-size: 50pt;
  margin: 10px;
}

.toplinks {
  text-align: right;
}

.centerboxID {
  background-color: rgba(12, 117, 45, 0.272);
  border: 3px solid gray;
  height: 100%;
  width: 200px;
  border-radius: 8px;
  margin: 10px;
}


.quote {
  color: darkgreen;
  font: size 80%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: rgb(228, 228, 228);
  height: 10%;
  width: 50%;
  display: block;
  margin: 40% 10% 10% 25%;
  border: 0.5rem solid darkgreen;
  border-radius: 20px;
  position: absolute;
}

.homestyle {
    color: darkgreen;
    font: size 80%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(228, 228, 228);
    height: 25%;
    width: 75%;
    display: block;
    margin: 1% 0% 0% 11%;
    border: 0.5rem solid darkgreen;
    border-radius: 20px;
    position: absolute;
  }

.aboutheader {
    color: darkgreen;
    font: size 80%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(228, 228, 228);
    height: 5%;
    width: 75%;
    display: block;
    margin: 2% 0% 0% 11%;
    border: 0.5rem solid darkgreen;
    border-radius: 20px;
    position: absolute;

  }

.aboutsubhockey {
    color: darkgreen;
    font: size 80%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(228, 228, 228);
    height: 5%;
    width: 10%;
    display: block;
    margin: 7% 0% 0% 2%;
    border: 0.5rem solid darkgreen;
    border-radius: 20px;
    position: absolute;
  }

.abouttexthockey {
    color: darkgreen;
    font: size 80%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    background-color: rgb(228, 228, 228);
    height: 20%;
    width: 80%;
    display: block;
    margin: 7% 0% 0% 15%;
    border: 0.5rem solid darkgreen;
    border-radius: 20px;
    position: absolute;
  }

#hockeyIMG {
    position: absolute;
    width: 190px;
    /* width: 40%; */
    height: 250px;
    /* height: 20%; */
    display: block;
    margin-left: 2%;
    margin-right: 0px;
    margin-top: 180px;
  }

  .aboutsubfilmmaking {
    color: darkgreen;
    font: size 80%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(228, 228, 228);
    height: 5%;
    width: 10%;
    display: block;
    margin: 27% 0% 0% 2%;
    border: 0.5rem solid darkgreen;
    border-radius: 20px;
    position: absolute;
  }

  .abouttextfilmmaking {
    color: darkgreen;
    font: size 80%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    background-color: rgb(228, 228, 228);
    height: 30%;
    width: 80%;
    display: block;
    margin: 27% 0% 0% 15%;
    border: 0.5rem solid darkgreen;
    border-radius: 20px;
    position: absolute;
  }

  #filmIMG {
    position: absolute;
    width: 190px;
    /* width: 40%; */
    height: 250px;
    /* height: 20%; */
    display: block;
    margin-left: 2%;
    margin-right: 0px;
    margin-top: 510px;
  }

  .aboutsubcooking {
    color: darkgreen;
    font: size 80%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(228, 228, 228);
    height: 5%;
    width: 10%;
    display: block;
    margin: 50% 0% 0% 2%;
    border: 0.5rem solid darkgreen;
    border-radius: 20px;
    position: absolute;
  }

  .abouttextcooking {
    color: darkgreen;
    font: size 80%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    background-color: rgb(228, 228, 228);
    height: 20%;
    width: 80%;
    display: block;
    margin: 50% 0% 0% 15%;
    border: 0.5rem solid darkgreen;
    border-radius: 20px;
    position: absolute;
  }

  #pizzaIMG {
    position: absolute;
    width: 190px;
    /* width: 40%; */
    height: 200px;
    /* height: 20%; */
    display: block;
    margin-left: 2%;
    margin-right: 0px;
    margin-top: 895px;
  }

  .aboutsubfamily {
    color: darkgreen;
    font: size 80%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(228, 228, 228);
    height: 5%;
    width: 10%;
    display: block;
    margin: 70% 0% 0% 2%;
    border: 0.5rem solid darkgreen;
    border-radius: 20px;
    position: absolute;
  }

  .abouttextfamily {
    color: darkgreen;
    font: size 80%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    background-color: rgb(228, 228, 228);
    height: 20%;
    width: 80%;
    display: block;
    margin: 70% 0% 0% 15%;
    border: 0.5rem solid darkgreen;
    border-radius: 20px;
    position: absolute;
  }

  #familyIMG {
    position: absolute;
    width: 190px;
    /* width: 40%; */
    height: 140px;
    /* height: 20%; */
    display: block;
    margin-left: 2%;
    margin-right: 0px;
    margin-top: 1220px;
  }