body {
    background-color: rgb(107, 138, 112);
  }

p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(107, 138, 112);
    font-size: 18pt;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.headertitle {
    text-align: left;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(195, 205, 198);
    font-size: 30pt;
    margin: 10px;
  }

/* .small {
    height: 50px;
    width: 50px;
  } */

.toplinks {
    text-align: right;
  }

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.main {
    height: 150px;
    width: 1000px;
    background-color: rgb(195, 205, 198);
    margin: 10px;
  }

#halfdome {
    height: 5%;
    width: auto;
}

#quote {
    font-size: 24pt;
}

.container-about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }

.about-sub {
    height: 300px;
    width: 1200px;
    background-color: rgb(195, 205, 198);
    margin: 10px;
  }

  h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(107, 138, 112);
    font-size: 18pt;
    margin-left: 20px;
  }

#hockeyIMG {
    height: 100px;
    width: 100px;
}

#filmIMG {
    height: 100px;
    width: 100px;
}

#familyIMG {
    height: 100px;
    width: 100px;
}