body {
  background-color: rgb(107, 138, 112);
  background-image: url(tile2.jpeg);
  background-size: 100%;
}
    @media screen and (min-width: 400px) {
    body {
      background-color: darkgreen;
    }
}

nav {
    background: rgb(107, 138, 112)
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(107, 138, 112);
  font-size: 18pt;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.headertitle {
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(107, 138, 112);
  background-color: rgb(195, 205, 198);
  font-size: 30pt;
  margin: 10px;
}

.toplinks {
  text-align: right;
  font-size: large;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main {
  height: 150px;
  width: 1000px;
  background-color: rgb(195, 205, 198);
  margin: 10px;
}

#halfdome {
  height: 5%;
  width: auto;
}

#quote {
  font-size: 24pt;
}

.container-about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  align-items: left;
  margin-top: 10px;
}

.about-sub {
  display: flex;
  height: 300px;
  width: 1200px;
  background-color: rgb(195, 205, 198);
  margin: 10px;
  justify-content: left;
  align-items: left;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(107, 138, 112);
  font-size: 18pt;
  margin-left: 20px;
}

.IMG {
  position: absolute;
  float: right;
  height: 300px;
  width: auto;
  margin-left: 1220px;
  margin-bottom: 0px;
}

.bottomform {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(195, 205, 198);
}

a:hover {
  background-color: aliceblue;
  transition: 0.7s;
  font-size: 18pt;
}

